
header{

    border-style: double;
    border-width: 50%;

}

section{

    width: 33%;
    float:left;
    background-color: cadetblue;
    color: blue;

    border-style: double;
    border-width: 20%;

}

footer {

    border-style: double;
    border-width: 50%;
    
}
